 
$btnColor: #ee6262;
$btnHover:#fb0707;



.btn-color{
background-color: $btnColor;
color: white;
padding: 5px 5px;
font-weight: 600;

&:hover{
  background-color:$btnHover ;
  color: white;
  box-shadow: 1px 1px 4px black;
}
&:active{
  background-color: transparent;
  border:1px solid #f53b3b;
}
}

#message{
  font-size:11px;
  position: relative;
  padding-left: 10px;
}

sup{
position: absolute;
font-size: 20px;
top: 7px;
left: 0;
}
